<!--
      <p>présenter le user avec son avatar</p

      <p><%= @employer_contracts.nmme %></p>
      <div><%= image_tag @employer_contracts.profile_image %></div>

      <p>récupère employer_id (current user id) </p>

      <%= @freelancer_id.nme %> -->
