<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>Employer</p>
  </div>
  <div class="message-body">
    <p><strong>Looking for a team to build a MVC !</strong></p>
    <p>
      I'm currently working on a new app, and I need Ruby developpers...
    </p>
  </div>
  <div class="message-status">
    <input type="checkbox" name="freelance-response" data-indeterminate='true'>
    <!-- <p class="status pending">Pending</p> -->
    <p class="price">€345</p>
  </div>

</div>
<div class="message">

    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
    <div class="message-name">
      <h3>Seb Saunier</h3>
      <p>Freelancer</p>
    </div>
    <div class="message-body">
      <p><strong>Nice project</strong></p>
      <p>
        I'm available to join your MVC project, here is my daily charges
      </p>
    </div>
    <div class="message-status">
      <p class="status pending">Tarif/jour</p>
      <p class="price">€345</p>
    </div> 
</div>