<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<!-- navbar -->

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <%= user.email %>
        </div>
      </div>
    <% end %>
  </div>
</div>
