<!-- <div class="container">
  <div id="profile-infos" class="row">
      <% if user_signed_in? %>
      <div class="col-col-xs-12 col-sm-4">
        <div class="profile-image">
          <% if current_user.profile_image %>
            <%= image_tag current_user.profile_image %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="card text-center">
          <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
          <%= current_user.email %>

        </div>
      </div>
      <% end %>
  </div>
</div>
 -->
 <div class="grid text-center">
    <div class="card rectangle-left">
      <div class="card-content">
        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3946334.jpg" alt="" height="150">
        <h2>Boby Ruby</h2>
        <p>Ruby Specialist</p>
        <a href="#" class="btn btn-primary btn-lg">Book this freelance</a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h3>34</h3>
        <p>Repositories</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h3>350/jour</h3>
        <p>Senior</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h3>Availability</h3>
        <p>Available</p>
      </div>
    </div>
    <div class="card rectangle-bottom">
      <div class="card-content">
        <p>Description</p>
        <p class="text-justify">
          I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with a 9-week intensive and immersive bootcamp!
        </p>
      </div>
    </div>
  </div>
