.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 0;
  display: none;
}

.alert-info {
  background: $green;
}

.alert-warning {
  background: $red;
}

