#inbox {
  position: relative;
}

#inbox-header {
  display: inline-flex;
  border-bottom: 1px solid $border;
  width: 100%;
  h4 {
    cursor: pointer;
    display: inline-block;
    margin-bottom: -1px;
    &.active {
      border-bottom: 1px solid $body-bg;
      border-top: 1px solid $border;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
    }
  }
}

#received, #sent {
  padding-top: 5rem;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
}

#sent {
  display: none;
}

.thumb {
  width: 50px;
  img {
    width: 100%;
  }
}

.message {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid $border;
}

.message:last-child {
  border-bottom: none;
}

.message-body {
  flex-grow: 1;
}

.message-name {
  padding-left: 10px;
  min-width: 150px;
}

.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}

.message-name p {
  font-size: 13px;
  font-weight: lighter;
}

.message-body {
  padding: 0 10px;
  font-size: 13px;
}

.message-body {
  padding-left: 20px;
}

.message-body p {
  margin: 6px 0;
}

.message-status {
  font-size: 14px;
  font-weight: bold;
  //margin-right: 40px;
}
.message-status div.bootstrap-switch {
  border-radius: 13px;
  border: none;
  margin-right: 20px;
}
.message-status .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: transparent;
}

.bootstrap-switch-handle-off .bootstrap-switch-default .fa fa-circle {
  color: transparent;
}
.message-status div.bootstrap-switch {
  background-color: $light-gray;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background-color: $light-gray;  
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: transparent;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 0px;
  width: 24px;
  font-size: 21px;
  line-height: 1.2;
}

.bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
  opacity: 0;
}

.bootstrap-switch .bootstrap-switch-label {
  background: transparent;
}
 
.status.pending {
  color: rgb(230,230,230);
}

.avatar-large {
  border-radius: 50%;
  width: 80px;
  padding: 9px;
}
.conversation {
  border-bottom: 1px solid rgba(220, 224, 244, 0.4);
  border-left: 1px solid rgba(220, 224, 244, 0.4);
}
.answer {
  background-color: #222222;
  color: white;
  p, strong {
    color: white;
  }
}