.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220, 224, 244, 0.4);
  height: 200px;
}

.message:last-child {
  border-bottom: none;
}

.message-body {
  flex-grow: 1;
}

.message-name {
  padding-left: 10px;
  min-width: 100px;
}

.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}

.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.message-body {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.message-body strong {
  color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

.message-body p {
  margin: 6px 0;
}

.message-status {
  font-size: 14px;
  font-weight: bold;
  margin-right: 40px;
}
.message-status div.bootstrap-switch {
  border-radius: 13px;
  border: none;
  background-color: rgb(230,230,230);
  margin-right: 20px;
}
.message-status .bootstrap-switch-label {
  background-color: rgba(255,255,255,0);
}
.message-status .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: $gray;
}

.status.pending {
  color: rgb(230,230,230);
}

.avatar-large {
  border-radius: 50%;
  width: 80px;
  padding: 9px;
}
