img {
  width: 300px;
}
.card {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
// .grid {
//   display: grid;
//   grid-template-columns: 500px 1fr 1fr 1fr;
//   grid-template-rows: 50% 50%;
//   height: calc(100vh - 70px);
// }
// .rectangle-left {
//   grid-row: 1 / span 2;
//   grid-column: 1 / span 1;
//   grid-row-end: -1;
// }
.square {
  padding-top: 40px;
}
.rectangle-bottom {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  border-top: 1px solid rgb(204, 201, 201);
  padding-top: 40px;
}
.avatar-extra-large {
  width: 120px;
  border-radius: 50%;
}

.profile {
  padding: 20px;
  border-bottom: 1px solid rgba(220, 224, 244, 0.4);
}

.profile:last-child {
  border-bottom: none;
}

.profile-name {
  padding-left: 10px;
  min-width: 100px;
}

.profile-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}

.profile-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.profile-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.profile-body {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.profile-body strong {
  color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

.profile-body p {
  margin: 6px 0;
}

.profile-status {
  font-size: 14px;
  font-weight: bold;
}

.status.accepted {
  color: #04A366;
}

.status.declined {
  color: red;
}

.status.pending {
  color: $light-gray;
}
